<h1>{{picture.value}} {{picture.url}}</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Value:</stong>{{picture.value}}</li>
  <li class="list-group-item"><strong>Url:</stong>{{picture.url}}</li>
</ul>
<a class="btn btn-default" href="/">Back</a>
