<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clarifai test</title>
  </head>
  <body>
    <div class="page-header" id="header">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: center;">
                <h1>Picture Search</h1>
            </div>
        </div>
    </div>
    <div class="container">
    {{{body}}}
  </div>
  </body>
</html>
