<!-- {{#if error}} <span>{{error}}</span>{{/if}} -->
<ul class="list-group">
  <li class="list-group-item"><strong>Value:</strong>{{picture[0].value}}</li>
  <li class="list-group-item"><strong>Url:</strong>{{picture[0].url}}</li>
</ul>
<a class="btn btn-default" href="/">Back</a>
