<ul class="picture_list">
  <li>{{picture.id}}</li>
  {{#each picture}}
  <div class="">
    <a href={{this}}>
      <img src={{this}} width="200" height="200">
    </a>
  </div>
  {{/each}}
</ul>
<a class="btn btn-default" href="/">Back</a>
